body{
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: rgb(43, 43, 54);
}

.formulario{
    background-color: rgb(107, 106, 106);
    width: 300px;
    padding: 40px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    border-radius: 10px;
}
h1{
    text-transform: uppercase;
    color: rgb(228, 228, 228);
    font-size: 30px;
}

input[type="text"]{
    border: 0;
    margin: 10px auto;
    background: none;
    text-align: center;
    border: 2px solid rgb(185, 185, 185);
    display: block;
    padding: 14px 10px;
    font-size: 15px;
    outline: none;
    color: white;
    border-radius: 25px;
    width: 80%;
    transition: 0.25s;
}

input[type="text"]:focus{

    width: 100%;
    border-color: rgb(64, 64, 70);
    background-color: rgb(224, 220, 220);
    color: rgb(27, 27, 27);
}

input[type="submit"]{
    border: none;
    background: rgb(196, 65, 65);
    display: block;
    margin: 15px auto;
    text-align: center;
    border: 2px solid rgb(196, 61, 61);
    padding: 14px 40px;
    outline: none;
    color: white;
    border-radius: 25px;
    cursor: pointer;
    transition: 0.25s;
    width: 60%;
}

input[type="submit"]:hover{

    background: none;
    font-weight: bold;
    width: 70%;
}

output[type="number"]{
    color: white;
    font-size: 40px;
    font-weight: 600;
}


